@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;  
}

ul {
    list-style: none;
    flex-direction: row;
}

li {
    width: 20em;
    height: 20em;
    margin-right: 0;
    display: inline-flex
}