
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
	font-family: 'Raleway', sans-serif;  
	box-sizing: border-box;
}

h1{
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  padding-right: 0.5em;

}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif; 
}

.cartcolumn {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color:grey; 
}

.item {
    padding:0rem 2rem;
}

.name {
    padding:0rem 5rem;
}

.quantity {
    padding:0rem 1rem 0rem 0rem;
}

.coffeeNameContainer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: grey;  
    align-items: center;
}

.coffeeNameContainer {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 1em;
    margin: 1em;
 } 

.coffeeName {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
 
}


.coffeePrice {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  
} 

.coffeeImage {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


input {
    height: 1.2rem;
    width: 4rem;
    border-color: #696969;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-weight: 400;
    max-width: 3.5rem;
    padding: .78571rem;
}

.button{
    height: 2rem;
    width: 4rem;
}

.button:hover{
    transition: 0.3s;
    background-color: rgb(138, 138, 138);
    color: rgb(8, 8, 8);
    text-decoration: underline;
}

.icons {
    padding: 0.3em;
}


.home {

    height: 4.4em;
    padding-top: 2em;
    padding-right: 1.3em;
}

header {
    height: 15em;
    background-color:whitesmoke;
    display: flex;
    justify-content: flex-end;
    padding-top: 2em;
    
}
/* 
quantitycontainer {
    display: flex;
    align-items: right;

} */






