
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
	font-family: 'Raleway', sans-serif;  
	box-sizing: border-box;
}

h1{
  font-size: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  padding-right: 0.5em;

}
body {
    background-color: white;
    font-family: 'Raleway', sans-serif; 
}

.first {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black; 
}

.coffeeNameContainer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: black;  
}

.coffeeName {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.coffeePrice {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} 

.coffeeImage {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


input {
    height: 1.2rem;
    width: 4rem;
}

.button{
    height: 1.2rem;
    width: 4rem;
}

/* 
header {
    height: 17em;
    background-color:whitesmoke;
    } */


.icons {
    padding: 0.3em;
}


.home {
    width: 5.5em;
    height: 4.4em;
    padding-top: 2em;
    padding-right: 3em;
}

header {
    height: 15em;
    background-color:whitesmoke;
    display: flex;
    justify-content: flex-end;
    padding-top: 2em;
    
}






